<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>Crew count:</strong>
  <%= @station.crew_count %>
</p>

<p>
  <strong>Peripasis:</strong>
  <%= @station.peripasis %>
</p>

<p>
  <strong>Aposis:</strong>
  <%= @station.aposis %>
</p>

<p>
  <strong>Max fuel:</strong>
  <%= @station.max_fuel %>
</p>

<p>
  <strong>Current fuel:</strong>
  <%= @station.current_fuel %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @station.country_code %>
</p>


<h1>Crew</h1>
<ul>
  <% @station.crews.each do |crew| %>
    <li>
      <%= link_to crew.name, station_crew_path(@station, crew) %>
      <small>
        <%= crew.job_title %>
        <i>
          <%= time_ago_in_words crew.launch_at %> ago
        </i>
      </small>
    </li>
  <% end %>
</ul>











<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
