<h2>Edit <%= @carafe.name  %></h2>
<p class="alert alert-danger">
  Input the following fields (only if you are properly authorized)
</p>
<form action="/carafes/<%= @carafe.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <fieldset class="form-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="carafe[name]" value="<%= @carafe.name %>" placeholder="ie., Pool">
  </fieldset>

  <fieldset class="form-group">
    <label for="max_volume">Max Volume</label>
    <input class="form-control" type="text" name="carafe[max_volume]" value="<%= @carafe.max_volume %>" placeholder="ie., 1000ml">
  </fieldset>
  <label for="event_id" >Event</label>
  <!-- <input type="text" name="carafe[event_id]" value="<%= @carafe.event_id %>"> -->

  <fieldset class="form-group">
    <select class="form-control" name="carafe[event_id]">
      <option value="">Please select your event</option>
      <% Event.all.each do |event| %>
        <option
          <%= "selected" if event.id == @carafe.event_id %>
          value="<%= event.id %>"
        >
          <%= event.name %>
        </option>
      <% end %>
    </select>
  </fieldset>


  <input type="submit" class="btn btn-success" name="" value="Save">
</form>
